wandb/
other/
scripts/
ted_output/
ted_model/
question-answering/
teacher_models/
cfx-generator/__pycache__/
cfx-generator/cfx-dataset
cfx-generator/cfx-dataset(old)/
cfx-generator/dataset/
cfx-generator/pair-cfx-dataset/
text-classification/ted_no_trainer_qwen(old).py

scripts_cfx/run_cola.sh
scripts_cfx/ted_glue.sh
scripts_cfx/run_pair.sh
scripts_cfx/finetune_glue.sh
scripts_cfx/dist_glue.sh

accuracy_table.tex
boundary_plot_data.pkl
experiment.log
nohup.out
output.png
test.ipynb
teacher_accuracy_table.tex
teacher_accuracy.tex
student_teacher_boundaries_boxed.pdf
student_teacher_boundaries.pdf
plot_decision.ipynb
check.txt